header.container{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}

div.logo{
  display: inline-flex;
}

span.list{
  display: inline-block;
  text-decoration: underline;
  list-style-type: none;
}

h1{
  color: MediumAquamarine;
}
